@import url(//fonts.googleapis.com/css?family=Kreon|Roboto:300,100,700italic,700,500italic,100italic);

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2em;
	position: relative;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 100;	
	margin: 0;
}

a {
	color: #FF692F;
}

a:hover {
	color: #FF692F;	
}

nav a:focus { 
  outline: none; 
}

.btn-primary {
	background: #FF692F;
	border: none;
}

.btn-primary:hover {
	background: #D03A00;
}

.label-primary {
	border: 1px solid #FF692F;
	border-bottom: 3px solid #FF692F;
	color: #FF692F;
}

.label-success {
	border: 1px solid #E992EA;
	border-bottom: 3px solid #E992EA;	
	color: #E992EA;
}

.label-info {
	border: 1px solid #00B6B3;
	border-bottom: 3px solid #00B6B3;
	color: #00B6B3;
}

.label-primary,.label-success,.label-info{
	padding: 0.5em;
	background: #FFF;
	text-transform: uppercase;
	border-radius: 0;
}

/*navigation*/

header .navbar {
	padding: 30px 30px 30px 0;
	transition: all .5s ease-out;
}

header ul.nav {
	background-color: rgba(0, 0, 0, .4);
	border: 1px solid #fff;
	padding: 0 1em;
}

header  .navbar-default {
	background-color: transparent;
	border-bottom: none;
}

header  .navbar-default .navbar-nav a,
header  .navbar-default .navbar-nav a:visited,
header  .navbar-default .navbar-nav a:focus
{
	color: #fff;
}

header  .navbar-default .navbar-nav a:hover{
	background: #fff;
	color: #000;
}

header nav.navbar.navbar-default.navbar-fixed-top .navbar-nav .active a,
header nav.navbar.navbar-default.navbar-fixed-top.inbody .navbar-nav .active a{
	color: white;
	background-color: transparent;
	font-weight: 700;
}

/*navbar brand*/

header a.navbar-brand {
	display: block;
	background: url(../images/ro_logo.svg) no-repeat;
	height: 115px;
	width: 300px;
	margin-top: -30px;
}

header a.navbar-brand h1 {
	color: #fff;
	font-weight: 300;
	font-size: 0.64em;
	text-align: right;
	padding-right: 1rem;
	text-transform: uppercase;
	margin-left: 70px;
	margin-top: 70px;
}

header a.navbar-brand h1 span {
	display: none;
}

@media screen and (min-width: 768px) and (max-width: 843px) {
	header a.navbar-brand {
		height: 85px;
		width: 220px;
	}
	header a.navbar-brand h1 {
			display: none;
	}
}

header .navbar-toggle {
	top: 10px;
	background-color: rgba(0, 0, 0, .3);
	color: #fff;
	border-radius: 0;
	height: 40px;
	border-color: #fff;
}

@media screen and (max-width: 450px){
	header a.navbar-brand {
		height: 85px;
		width: 220px;
	}
	header a.navbar-brand h1 {
		display: none;
	}
	header button.navbar-toggle, header button.navbar-toggle.collapsed {
		margin-top: -25px;
		margin-right: -15px;
	}
	header .inbody button.navbar-toggle, header .inbody button.navbar-toggle.collapsed {
		margin-top: 7px;
		margin-right: -15px;
	}
}

@media screen and (max-width: 320px){
	header button.navbar-toggle {
		margin-top: -25px;
		margin-right: -15px;
	}
	header .inbody button.navbar-toggle,
	header .inbody button.navbar-toggle.collapsed {
		margin-top: 7px;
		margin-right: -15px;
	}
}

header .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #000;
}

header .navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

header nav.navbar.navbar-default.navbar-fixed-top.inbody {
	height: 75px;
}

@media only screen and (max-width: 767px) {

	header .navbar-collapse,	header .navbar-collapse.collapsing, header .navbar-collapse.in {
		background-color: rgba(0, 0, 0, .7);
		border: none;	
		margin-right: -45px;
	}

	header .navbar-collapse ul.nav.navbar-nav, header .navbar-collapse.in ul.nav.navbar-nav {
		text-align: center;
		background: transparent;
		border: none;
	}

	header .navbar-collapse li a {
		padding: 20px 20px;
		border-bottom: 1px solid #fff;
	}
}

/**  nav inbody **/

header .inbody {
    background: #000;
}

header .inbody ul.nav {
	border: none;
}

header .navbar.inbody {
    padding-top: 0;
    padding-bottom: 0;
}

header .navbar.inbody .navbar-nav {
    padding-top: 10px;
}

header .inbody .navbar-brand {
	background: url(../images/ro_logo1.svg) no-repeat;
  margin-top: 5px;
  height: 60px;
  width: 210px;
}

header .inbody .navbar-brand h1 {
	display: none;
}

/*carousel*/

.carousel-control.right,
.carousel-control.left{
	background-image: none;
}

.carousel-caption {
	bottom: auto;
	top: 40%;
}
.carousel-caption h2{
	font-family: 'Kreon', serif;	
	font-size: 5em;
	text-align: left;
}

.carousel-caption p{
	text-align: left;
	padding-top: 1em;	
	text-transform: uppercase;
	letter-spacing: 0.175em;
}

@media screen and (max-width: 992px) {
	.carousel-caption {
		bottom: auto;
		top: 50%;
	}
	.carousel-caption h2{
		text-align: center;
	}
	.carousel-caption p {
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.carousel-macaco h2{
		font-size: 3em;
	}
}

@media screen and (max-width: 600px) {
	.carousel-macaco h2{
		font-size: 2.5em;
	}
}

@media screen and (max-width: 500px) {
	.carousel-macaco h2{
		margin-top: 50px;
		font-size: 2em;
	}
}

@media screen and (max-width: 320px) {
	.carousel-macaco h2{
		margin-top: 50px;
		font-size: 2em;
	}
}

#featured .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%;
  height: 100%;
}

/*page*/

.page {
	padding: 50px 0;
	border-top: 20px solid #eee;	
}

.page h2 {
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 0.25em;
	text-align: center;
	color: #666;
	margin: 0 0 30px;
}

/*Info*/
#info img {
	margin-bottom: 1em;
	border-radius: 1em;
}

#info p {
	font-size: 0.9em;
	line-height: 1.8em;
	margin-bottom: 0.9em;
	text-align: left;
}

/*Servicos*/

#servicos h3 {
	font-family: 'Kreon', serif;
	font-size: 2em;
	margin-bottom: 30px;
}

#servicos span.icon {
	display: block;
	width: 10em;
	height: 10em;
	margin: 1em auto;
	border-radius: 100px;
	background-position: right bottom;
	background-size: 18em;
	background-repeat: no-repeat;
}

.icon-aguia {
	background-image: url(../images/aguia.gif);
}

.icon-macaco {
	background-image: url(../images/macaco.gif);
}

.icon-cachorro {
	background-image: url(../images/cachorro.gif);
}

.servico h3 {
	text-align: center;
}

.servico ul {
	text-align: center;	
	list-style: none;
	margin: 0;
	padding: 0;
}

.servico ul li {
	display: block;
	padding: 0.5em;
	border-top: 1px dotted #999;
	margin: 0 2em;
}

.servico-design h3 {
	color: #FF692F;
}

.servico-desenvolvimento h3 {
	color: #D08EE5;
}

.servico-audio h3 {
	color: #02BCB9;
}

/* portifolio */

#portifolio .thumbnail {
	border-radius: 0;
	padding: 0;
	min-height: 550px;
	border: 1px solid #ccc;
	border-bottom: 8px solid #ccc;;
}

#portifolio .thumbnail .caption {
	padding: 1.5em 2em 1em;
}
#portifolio .thumbnail .caption h3 {
	margin: 0 0 0.5em;
	padding-bottom: 0.5em;
	font-weight: 700;
	color: #FF692F;
	border-bottom: 1px dotted #999;
}

#portifolio .thumbnail .caption p{
	font-size: 0.8em;
}

.labels {
	margin: 1em 0;
}

.modal-header h3 {
	font-weight: 700;
	color: #FF692F;	
}

.modal-body{
	padding: 2em 2em 1em 2em;
}

.modal-body p{
	font-size: 0.7em;
	padding-top: 1em;	
}

audio { width: 100%; }
/*contato*/

.hidden {display: none;}
.form-message {padding: 10px; font-size: 0.7em; font-weight: 700;}

address {
	display: block;
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px dotted #999;
	font-size: 0.7em;
	font-weight: 700;
	letter-spacing: 0.1em;
	/*text-transform: uppercase;*/
	color: #333;
}

address span{
	display: inline-block;
	padding: 8px;
	border-radius: 15px;
	background: #333;
	color: #fff;
}

address i{
	display: inline-block;
	padding: 8px 11px;
	border-radius: 15px;
	background: #333;
	color: #fff;
}

address i.fa.fa-twitter{
	display: inline-block;
	padding: 8px 9px;
	border-radius: 15px;
	background: #333;
	color: #fff;
}

address i.fa.fa-envelope{
	display: inline-block;
	padding: 8px;
	border-radius: 15px;
	background: #333;
	color: #fff;
}